:root {
    --cube-size: 5rem;
    --cube-color: #eeeeee;
}

@media screen and (min-width: 900px) {
    :root {
        font-size: 200%;
    }
}

.cube {
    margin: var(--cube-size);
    position: relative;
    height: calc(var(--cube-size) * 2);
    width: calc(var(--cube-size) * 2);
    transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.cube .face {
    position: absolute;
    box-sizing: border-box;
    opacity: 1;
    border: solid 3px #000000;
    color: #ffffff;
}

.face {
    display: grid;
    grid-template-areas:
		"a . c"
		"e g f"
		"d . b";
    padding: calc(var(--cube-size) / 5);
    width: 100%;
    height: 100%;
    box-shadow: inset 0 5px white, inset 0 -5px #bbb, inset 5px 0 #d7d7d7,
    inset -5px 0 #d7d7d7;
}

.dot {
    display: block;
    align-self: center;
    justify-self: center;
    width: calc(var(--cube-size) / 3);
    height: calc(var(--cube-size) / 3);
    border-radius: 50%;
    background-color: #333;
    box-shadow: inset 0 3px #111, inset 0 -3px #555;
}

.dot:nth-child(2) {
    grid-area: b;
}

.dot:nth-child(3) {
    grid-area: c;
}

.dot:nth-child(4) {
    grid-area: d;
}

.dot:nth-child(5) {
    grid-area: e;
}

.dot:nth-child(6) {
    grid-area: f;
}

.dot:nth-child(odd):last-child {
    grid-area: g;
}

.one {
    transform: translateZ(var(--cube-size));
    -ms-transform: translateZ(var(--cube-size));
    -webkit-transform: translateZ(var(--cube-size));
    background-color: var(--cube-color);
}

.two {
    transform: rotateX(270deg) translateY(var(--cube-size));
    -webkit-transform: rotateX(270deg) translateY(var(--cube-size));
    -ms-transform: rotateX(270deg) translateY(var(--cube-size));
    transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    -webkit-transform-origin: bottom center;
    background-color: var(--cube-color);
}

.three {
    transform: rotateY(-270deg) translateX(var(--cube-size));
    -ms-transform: rotateY(-270deg) translateX(var(--cube-size));
    -webkit-transform: rotateY(-270deg) translateX(var(--cube-size));
    transform-origin: top right;
    -ms-transform-origin: top right;
    -webkit-transform-origin: top right;
    background-color: var(--cube-color);
}

.four {
    transform: rotateY(270deg) translateX(calc(var(--cube-size) * -1));
    -webkit-transform: rotateY(270deg) translateX(calc(var(--cube-size) * -1));
    -ms-transform: rotateY(270deg) translateX(calc(var(--cube-size) * -1));
    transform-origin: center left;
    -ms-transform-origin: center left;
    -webkit-transform-origin: center left;
    background-color: var(--cube-color);
}

.five {
    transform: rotateX(-270deg) translateY(calc(var(--cube-size) * -1));
    -webkit-transform: rotateX(-270deg) translateY(calc(var(--cube-size) * -1));
    -ms-transform: rotateX(-270deg) translateY(calc(var(--cube-size) * -1));
    transform-origin: top center;
    -ms-transform-origin: top center;
    -webkit-transform-origin: top center;
    background-color: var(--cube-color);
}

.six {
    transform: translateZ(calc(var(--cube-size) * -1)) rotateY(180deg);
    -webkit-transform: translateZ(calc(var(--cube-size) * -1)) rotateY(180deg);
    -ms-transform: translateZ(calc(var(--cube-size) * -1)) rotateY(180deg);
    background-color: var(--cube-color);
}

.cube.animate {
    transform: rotateX(var(--turn-amount-x)) rotateY(var(--turn-amount-y));
    transition: transform 5s;
    transition-timing-function: ease-in-out;
}

#dice_amount {
    width: 12rem;
}

.dices {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dice {
    flex-basis: calc(16.666% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 100rem;
}